a{

    color:#333;
    text-decoration: none;

}

ul li{list-style: none;}

.hd{

    /* background-color: #eaeaea; */

    
    
}

.hd h1 img{ 

    height:2.5rem; 
    display: block;

}

.hd *{

    margin-bottom:0;
}

.hd a{ padding:0 1rem;}

